
{% extends 'base.html' %}

  {% block title %}Faq{% endblock %}
      
    {% block content %}
    <div class="pb-3 site-section first-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-12" data-aos="fade">
            <h2 class="site-section-heading text-center text-uppercase">{{ faqtitle }}</h2>
          </div>
        </div>
        <div class="row">

          {% for item in faq %}

          <div class="col-md-6 col-lg-6 mb-4" data-aos="fade-up" data-aos-delay="100">
            <h3 class="d-flex align-items-center"><span class="circle-icon-wrap mr-3"><span class="icon-question"></span></span>{{ item.question }}</h3>
            <p>{{ item.answer }}</p>
          </div>

          {% endfor %}


        </div>
      </div>
    </div>

    {% endblock %}