
{% extends 'base.html' %}

  {% block title %} Why choose us {% endblock %}

    {% block content %}

    <div class="site-section first-section">

    {% for item in why %}

    <div class="site-half {% if item.active %}block{% endif %}">
      <div class="img-bg-1 {% if item.active %}right{% endif %}" style="background-image: url({{ item.image.url }});" data-aos="fade"></div>
      <div class="container">
        <div class="row no-gutters align-items-stretch">
          <div class="col-lg-5 {% if item.active %}mr-lg-auto{% else %}ml-lg-auto{% endif %} py-5">
            <span class="caption d-block mb-2 font-secondary font-weight-bold">{{ item.description }}</span>
            <h2 class="site-section-heading text-uppercase font-secondary mb-5">{{ item.title }}</h2>
            <p>{{ item.content }}</p>
          </div>
        </div>
      </div>
    </div>

    {% endfor %}

  </div>

  <div class="site-section section-counter">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <p class="mb-5"><img src="{{ amazon.image.url }}" alt="{{ amazon.title }}" class="img-fluid"></p>
          </div>
          <div class="col-lg-5 ml-auto">
            <h2 class="site-section-heading mb-3 font-secondary text-uppercase">{{ amazon.title }}</h2>
            <p class="mb-5">{{ amazon.description }}</p>

            <div class="row">
              <div class="col-lg-6">
                <div class="counter">
                  <span class="caption">{{ amazon.name_1 }}</span>
                  <span class="number" data-number="{{ amazon.number_1 }}">0</span>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="counter">
                  <span class="caption">{{ amazon.name_2 }}</span>
                  <span class="number" data-number="{{ amazon.number_2 }}">0</span>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>

    {% endblock %}